.skyid-button, .skyid-button:focus {
    color: #fff;
    background-color: #57b560;
    border-radius: .25rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: .75rem 2rem;
    outline:none;
}

.skyid-logo {
	height: 18px;
	vertical-align: middle;
	margin-right: 2px;
}
